<!-- templates/index/content.html -->

<div class="main-wrapper">

    <div class="header-block">
        <h3 class="mb-3">Загрузка аудио (.m4a)</h3>

        <div class="mb-3 d-flex align-items-center gap-2">
            <input class="form-control" type="file" id="audioInput" accept=".m4a">
            <div id="checkboxContainer">
                <i id="checkboxIcon" class="fa-regular fa-square"></i>
                AUTO
            </div>
        </div>
    </div>

    <div id="reportsContainer" class="d-flex flex-wrap gap-2">
    </div>

</div>